//////////////////////////////////////////////////////////////////
// custom theme variables
//////////////////////////////////////////////////////////////////

/**
 * ark variables
 */

$site-width: 960px;
$bp-names: lap;
$bp-sizes: 768px;
$sticky-footer: false;
$use-mast: true;
$use-flex: true;
$use-media: false;

/**
 * heading sizes
 */

$h1-size: 38px!default;
$h2-size: 32px!default;
$h3-size: 28px!default;
$h4-size: 24px!default;
$h5-size: 22px!default;
$h6-size: 18px!default; 

/**
 * ui colors
 */

$brand-primary: #5677fc;