<div class="container">
  
  <footer class="site-footer">

    <div class="grid">
      <div class="grid__item lap-one-third">
        <ul>
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="grid__item lap-one-third">
        <ul>
          <li>phone - 321.555.5555</li>
          <li>fax - 321.555.555</li>
        </ul>
      </div>
      <div class="grid__item lap-one-third">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
    
  </footer>

</div>