//////////////////////////////////////////////////////////////////
// base element styles
//////////////////////////////////////////////////////////////////

body {
	font-family: Georgia, serif;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
	@extend %font-secondary;
	font-weight: 400;
}

a {
	@extend %color-brand-primary;
	text-decoration: none;
	transition: .2s ease all;

	@include hover {
		color: #2a36b1;
	}
	p & {
		@include hover {
			text-decoration: underline;
		}
	}
}

blockquote {
	@extend %padding;
	background-color: #f1f1f1;
	border-left: 10px solid #ccc;
	p {
		@extend %margin-off--bottom;
	}
}