//////////////////////////////////////////////////////////////////
// buttons partial
//////////////////////////////////////////////////////////////////

.btn {
	@extend %dis-block;
	@extend %lap-dis-inline-block;
	@extend %text--center;
	@extend %font-secondary;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	@include font-size(18px);
	line-height: 48px;

	@include hover {
		text-decoration: none;
	}
}

.btn--primary {
	@extend %lap-padding--sides;
	background-color: $brand-primary;
	border-bottom: 4px solid #2a36b1;
	color: #fff;
	
	@include hover {
		border-color: $brand-primary;
		background-color: #2a36b1;
		color: #fff;
	}
}