//////////////////////////////////////////////////////////////////
// helper class & placeholders
//////////////////////////////////////////////////////////////////


/**
 * font families
 */

%font-primary        { font-family: Georgia, serif; }
%font-secondary      { font-family: Helvetica, sans-serif; }

/**
 * colors
 */

%color-brand-primary { color: $brand-primary; }

/**
 * quick clear
 */

.clear               { clear: both; }

/**
 * lede paragraph
 */

.lede {
	@extend %text--center;
	@include font-size(22px, $line-height: false);
}

.highlight {
	@extend %cf;
	@extend %padding--ends;
	@extend %lap-padding-dbl--ends;
	@extend %margin--bottom;
	@extend %text--center;
	background-color: #f1f1f1;
}